<form [formGroup]="branchForm" class="form-container" (ngSubmit)="onSubmit()" *ngIf="!view">

  <div class="form-row">
    <div class="form-field">
      <label>Branch Name</label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="name" placeholder="Enter branch name">
      </mat-form-field>
    </div>

    <div class="form-field">
      <label>Email Id</label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="email" placeholder="Enter Email">
      </mat-form-field>
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-field">
      <label>URL</label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="url" placeholder="Enter URL">
      </mat-form-field>
    </div>
    <div class="form-field">
      <label>Phone Number</label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="landline" placeholder="Enter Phone Number">
      </mat-form-field>
    </div>
  </div>
   <div class="form-row">
    <div class="form-field">
      <label>Mobile Number</label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="mobile" placeholder="Enter Mobile Number">
      </mat-form-field>
    </div>
    <div class="form-field">
         <label>Office Type</label>
         <mat-radio-group formControlName="branchType" class="radio-group">
         <mat-radio-button value="main">Main Branch</mat-radio-button>
        <mat-radio-button value="sub">Sub Branch</mat-radio-button>
        </mat-radio-group>
    </div>
  </div>
   <div class="form-row">
        <div class="form-field">
            <label>Established Date</label>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Opening Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-field">
            <label>Address</label>
            <mat-form-field appearance="outline" class="full-width">
                <input matInput formControlName="inputAddress" placeholder="Enter Address">
            </mat-form-field>
        </div>
    </div>   
<div class="form-row">
    <div class="form-field">
         <label>Select Country</label>
         <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select id="country" (selectionChange)="onCountryChange()">
                <mat-option *ngFor="let country of countries" [value]="country|json">{{ country.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-field">
        <label>Select State</label>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of states " [value]="state">{{ state.name }}</mat-option>
            </mat-select>
        </mat-form-field>    
    </div>   
</div>
<div class="form-row">
     <div class="form-field">
         <label>City Name </label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="city" placeholder="Enter city name">
      </mat-form-field>
     </div>
      <div class="form-field">
         <label>Zip Code </label>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="zip" placeholder="Enter zip code">
      </mat-form-field>
     </div>
</div>
<div class="form-row">
     <div class="form-field">
         <label>Upload File </label>
       <mat-card>
 <!-- Hidden file input -->
<!-- Hidden file input -->
<input type="file" hidden #fileInput (change)="onFileSelected($event)" />

<!-- Material Button to trigger file input -->
<button mat-raised-button color="primary" type="button" (click)="fileInput.click()">Choose File </button>

<!-- Show selected file name -->
<span *ngIf="selectedFile" style="margin-left:10px;"> {{ selectedFile.name }}</span>
</mat-card>
     
</div>
</div>  
  <button mat-raised-button color="primary" type="submit"  style="width: 100%"> Submit</button>
  <!--[disabled]="branchForm.invalid"-->
</form>



<div  style="width: 100%; height: 500px;" *ngIf="view">
    <button mat-raised-button color="primary" type="submit"   style="width: 100%"> Add</button>
<ag-grid-angular
  class="ag-theme-quartz"
  style="width: 100%; height: 400px;"
  [theme]="gridOptions.theme"
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [pagination]="true"
  [rowSelection]="rowSelection"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>

</div>

